#parent{
	position: relative;
	width: 550px;
	height:150px;
	margin-left: 32.5%; 
}

body {
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
	color: 	#FF00FF;
	background-color: #36393E;
}

h1{
	text-align: center;
}

a{
	background-color: #FF00FF;
	color: white;
	padding: 1em 1.5em;
	text-transform: uppercase;
	box-shadow: 0 5px 0 #BA55D3;
	position: relative;
}

a:hover{
	background-color #555;
}

a:active{
	box-shadow: none;
	top: 5px;
}
.row {
    margin-bottom: 30px;
	text-align: center;
}

.column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
	text-align: center;
}

img {
    width: 180px;
    height: 260px;
}

.game   {
    float: left;
    margin: 20px;
    
}

.game a {
    color: 	#FF00FF;
	background-color: #36393E;
    text-decoration: none;
    box-shadow: none;
}

.game a p  {
    text-align: center;
    width: 180px;
    margin: 0px 20px;
    
}

.game a img:hover{
    opacity: .5;
}

.parts{
    text-align: left;
    margin-left: 25%;
}

.parts a    {
    box-shadow: none;
    background-color: #FF00FF;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.parts a:hover  {
    opacity: .5;
}

.error  {
    color: #ff0000;
    display: none;
}